<!DOCTYPE html>
<html>
<head>
  <title>SharedFormRails</title>
  <%= stylesheet_link_tag    'shared_form-rails/application', :media => 'shared_form-rails/application' %>
  <%= javascript_include_tag 'shared_form-rails/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
